
/* Header */

  #header {
    top: 80px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 70px);

    > h1 {
      font-size: 60pt;
      display: inline-block;
      color: _palette(accent1);
      margin: 0 0 0 40px;

      &:first-child {
        color: _palette(accent2);
        margin: 0 0 0 10px;
      }
    }

    > #logo > img {
      height: 140pt;
      width: auto;
      display: inline-block;
      float: left;
    }
    /*
        @include breakpoint('<=xlarge') {

        }

        @include breakpoint('<=large') {

        }
    */
        @include breakpoint('<=medium') {
          top: 60px;
        }
    /*
        @include breakpoint('<=small') {

        }

        @include breakpoint('<=xsmall') {

        }

        @include breakpoint('<=xxsmall') {

        }
    */
  }
