
/* Header */

  #header {
    top: 80px;
    position: absolute;

    > #logo > img {
      height: 140pt;
      width: auto;
    }
    /*
        @include breakpoint('<=xlarge') {

        }

        @include breakpoint('<=large') {

        }
    */
        @include breakpoint('<=medium') {
          top: 60px;
        }
    /*
        @include breakpoint('<=small') {

        }

        @include breakpoint('<=xsmall') {

        }

        @include breakpoint('<=xxsmall') {

        }
    */
  }
