
/* Main */

  #main {
    width: 100%;

    > section {
      height: 400px;
      width: 100%;
      max-width: 600px;
      margin: 8em auto 4em;
    }
    /*
        @include breakpoint('<=xlarge') {

        }

        @include breakpoint('<=large') {

        }

        @include breakpoint('<=medium') {

        }

        @include breakpoint('<=small') {

        }

        @include breakpoint('<=xsmall') {

        }

        @include breakpoint('<=xxsmall') {

        }
    */
  }
