
/* Main */

  #main {
    width: 100%;
    margin: 8em 0;

    > section {
      width: 100%;
      max-width: 800px;
      margin: 8em auto;
      background-color: #fff;

      > div {
        width: 100%;
        padding-bottom: 50%;
      }
    }
    /*
        @include breakpoint('<=xlarge') {

        }

        @include breakpoint('<=large') {

        }

        @include breakpoint('<=medium') {

        }

        @include breakpoint('<=small') {

        }
*/
        @include breakpoint('<=xsmall') {
          > section {
            margin: 2em auto;
          }
        }
/*
        @include breakpoint('<=xxsmall') {

        }
    */
  }
